/* src/Calendar.css */

/* Basic Reset */  
  .calendar {
    margin: 20px auto;
    position: relative;
    overflow: hidden;
  }
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffb100e8;
  }
  
  
  .prev, .next {
    cursor: pointer;
    user-select: none;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  .calendar-table>thead>tr{
    color: rgb(219 219 219 / 86%);
  }
  .calendar-table th, .calendar-table td {
    box-sizing: border-box;
    text-align: center;
}  
  
  .calendar-table th {
    font-weight: bold;
  }
  
  .calendar-table td {
    border: 1px solid #cccccc33;
    font-weight: bold;
  }
  .month-name, .year-name {
    cursor: pointer;
    position: relative;
    font-weight: bold;
  }
  
  .month-name:hover, .year-name:hover {
    text-decoration: underline;
  }
  
  .dropdown {
    position: absolute;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 9;
    border: 1px solid #ccc9;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
  }
    
    /* Hide scrollbar for WebKit browsers */
    .dropdown::-webkit-scrollbar {
      display: none;
    }
  .dropdown div {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #ccc9;
    }
  
  .dropdown div:hover {
    background-color: #d3d3d336;
  }
  .calendar-table td:hover {
    background-color: rgb(255 255 255 / 18%);
    cursor: pointer;
    border-radius: 50%;
  }
  .nextpreveContainer{
    height: auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .currentDateShowing{
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .current-date {
    background-color: rgb(255 255 255 / 18%) !important;
    border-radius: 50%;
  }